USE [CountryDb]
GO
/****** Object:  Table [dbo].[COUNTRY]    Script Date: 1.10.2017 20:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[FULLNAME] [nvarchar](100) NOT NULL,
	[CODE] [nvarchar](10) NOT NULL,
	[CURRENCY] [nvarchar](50) NOT NULL,
	[FLAG] [nvarchar](50) NOT NULL,
	[LANGUAGE] [nvarchar](50) NOT NULL,
	[CAPITALCITY] [nvarchar](50) NOT NULL,
	[POPULATION] [bigint] NOT NULL,
	[REGIONID] [int] NOT NULL,
 CONSTRAINT [PK_COUNTRY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COUNTRY2]    Script Date: 1.10.2017 20:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COUNTRY2](
	[id] [bigint] NOT NULL,
	[enabled] [bigint] NOT NULL,
	[code3l] [varchar](50) NOT NULL,
	[code2l] [varchar](50) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[name_official] [varchar](50) NOT NULL,
	[flag_32] [varchar](50) NOT NULL,
	[flag_128] [varchar](50) NOT NULL,
	[latitude] [varchar](50) NOT NULL,
	[longitude] [varchar](50) NOT NULL,
	[zoom] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[data]    Script Date: 1.10.2017 20:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[data](
	[alpha2Code] [varchar](23) NULL,
	[alpha3Code] [varchar](3) NULL,
	[altSpellings_0] [varchar](15) NULL,
	[altSpellings_1] [varchar](3) NULL,
	[altSpellings_2] [varchar](9) NULL,
	[altSpellings_3] [varchar](2) NULL,
	[altSpellings_4] [varchar](3) NULL,
	[altSpellings_5] [varchar](2) NULL,
	[altSpellings_6] [varchar](9) NULL,
	[altSpellings_7] [varchar](19) NULL,
	[altSpellings_8] [varchar](9) NULL,
	[area] [varchar](37) NULL,
	[borders_0] [varchar](9) NULL,
	[borders_1] [varchar](21) NULL,
	[borders_10] [varchar](3) NULL,
	[borders_11] [varchar](22) NULL,
	[borders_12] [varchar](26) NULL,
	[borders_13] [varchar](3) NULL,
	[borders_2] [varchar](3) NULL,
	[borders_3] [varchar](20) NULL,
	[borders_4] [varchar](17) NULL,
	[borders_5] [varchar](31) NULL,
	[borders_6] [varchar](19) NULL,
	[borders_7] [varchar](3) NULL,
	[borders_8] [int] NULL,
	[borders_9] [varchar](7) NULL,
	[callingCodes_0] [varchar](18) NULL,
	[capital] [varchar](9) NULL,
	[currencies_0_code] [varchar](3) NULL,
	[currencies_0_name] [varchar](22) NULL,
	[currencies_0_symbol] [varchar](3) NULL,
	[currencies_1_code] [varchar](37) NULL,
	[currencies_1_name] [varchar](3) NULL,
	[currencies_1_symbol] [varchar](5) NULL,
	[demonym] [varchar](21) NULL,
	[flag] [varchar](4) NULL,
	[gini] [varchar](21) NULL,
	[languages_0_iso639_1] [varchar](12) NULL,
	[languages_0_iso639_2] [varchar](6) NULL,
	[languages_0_name] [varchar](3) NULL,
	[languages_0_nativeName] [varchar](17) NULL,
	[languages_1_iso639_1] [varchar](37) NULL,
	[languages_1_iso639_2] [varchar](2) NULL,
	[languages_1_name] [varchar](9) NULL,
	[languages_1_nativeName] [varchar](9) NULL,
	[languages_2_iso639_1] [varchar](3) NULL,
	[languages_2_iso639_2] [varchar](23) NULL,
	[languages_2_name] [varchar](21) NULL,
	[languages_2_nativeName] [varchar](3) NULL,
	[languages_3_iso639_1] [varchar](6) NULL,
	[languages_3_iso639_2] [varchar](3) NULL,
	[languages_3_name] [varchar](3) NULL,
	[languages_3_nativeName] [int] NULL,
	[latlng_0] [varchar](23) NULL,
	[latlng_1] [varchar](52) NULL,
	[name] [varchar](2) NULL,
	[nativeName] [varchar](8) NULL,
	[numericCode] [varchar](14) NULL,
	[population] [varchar](9) NULL,
	[region] [varchar](20) NULL,
	[regionalBlocs_0_acronym] [varchar](39) NULL,
	[regionalBlocs_0_name] [varchar](9) NULL,
	[regionalBlocs_0_otherAcronyms_0] [varchar](2) NULL,
	[subregion] [varchar](3) NULL,
	[timezones_0] [varchar](50) NULL,
	[timezones_1] [varchar](3) NULL,
	[timezones_10] [varchar](39) NULL,
	[timezones_11] [varchar](14) NULL,
	[timezones_2] [int] NULL,
	[timezones_3] [varchar](39) NULL,
	[timezones_4] [varchar](57) NULL,
	[timezones_5] [varchar](31) NULL,
	[timezones_6] [varchar](54) NULL,
	[timezones_7] [varchar](9) NULL,
	[timezones_8] [varchar](3) NULL,
	[timezones_9] [varchar](3) NULL,
	[topLevelDomain_0] [varchar](3) NULL,
	[translations_br] [varchar](50) NULL,
	[translations_de] [varchar](9) NULL,
	[translations_es] [varchar](50) NULL,
	[translations_fa] [varchar](20) NULL,
	[translations_fr] [varchar](20) NULL,
	[translations_hr] [varchar](9) NULL,
	[translations_it] [varchar](22) NULL,
	[translations_ja] [varchar](2) NULL,
	[translations_nl] [varchar](21) NULL,
	[translations_pt] [varchar](3) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[REGION]    Script Date: 1.10.2017 20:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_REGION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[COUNTRY] ON 

INSERT [dbo].[COUNTRY] ([ID], [NAME], [FULLNAME], [CODE], [CURRENCY], [FLAG], [LANGUAGE], [CAPITALCITY], [POPULATION], [REGIONID]) VALUES (1, N'Afghanistan', N'Islamic Republic of Afghanistan', N'AFG', N'-', N'AF-32.png', N'-', N'-', 0, 3)
INSERT [dbo].[COUNTRY] ([ID], [NAME], [FULLNAME], [CODE], [CURRENCY], [FLAG], [LANGUAGE], [CAPITALCITY], [POPULATION], [REGIONID]) VALUES (2, N'Albania', N'Republic of Albania', N'ALB', N'L', N'AL-32.png', N'Albanian', N'Tirana', 2886026, 4)
INSERT [dbo].[COUNTRY] ([ID], [NAME], [FULLNAME], [CODE], [CURRENCY], [FLAG], [LANGUAGE], [CAPITALCITY], [POPULATION], [REGIONID]) VALUES (3, N'Algeria', N'People’s Democratic Republic of Algeria', N'DZA', N'Algerian dinar', N'DZ-32.png', N'Arabic', N'Algiers', 40400000, 1)
GO
SET IDENTITY_INSERT [dbo].[COUNTRY] OFF
INSERT [dbo].[COUNTRY2] ([id], [enabled], [code3l], [code2l], [name], [name_official], [flag_32], [flag_128], [latitude], [longitude], [zoom]) VALUES (1, 1, N'AFG', N'AF', N'Afghanistan', N'Islamic Republic of Afghanistan', N'AF-32.png', N'AF-128.png', N'33.98299275', N'66.39159363', 6)
INSERT [dbo].[COUNTRY2] ([id], [enabled], [code3l], [code2l], [name], [name_official], [flag_32], [flag_128], [latitude], [longitude], [zoom]) VALUES (2, 1, N'ALB', N'AL', N'Albania', N'Republic of Albania', N'AL-32.png', N'AL-128.png', N'41.00017358', N'19.87170014', 7)
INSERT [dbo].[COUNTRY2] ([id], [enabled], [code3l], [code2l], [name], [name_official], [flag_32], [flag_128], [latitude], [longitude], [zoom]) VALUES (3, 1, N'DZA', N'DZ', N'Algeria', N'People’s Democratic Republic of Algeria', N'DZ-32.png', N'DZ-128.png', N'27.89861690', N'3.19771194', 5)
GO
SET IDENTITY_INSERT [dbo].[REGION] ON 

INSERT [dbo].[REGION] ([ID], [NAME]) VALUES (1, N'Africa')
INSERT [dbo].[REGION] ([ID], [NAME]) VALUES (2, N'Americas')
INSERT [dbo].[REGION] ([ID], [NAME]) VALUES (3, N'Asia')
SET IDENTITY_INSERT [dbo].[REGION] OFF
ALTER TABLE [dbo].[COUNTRY]  WITH CHECK ADD  CONSTRAINT [FK_COUNTRY_REGION] FOREIGN KEY([REGIONID])
REFERENCES [dbo].[REGION] ([ID])
GO
ALTER TABLE [dbo].[COUNTRY] CHECK CONSTRAINT [FK_COUNTRY_REGION]
GO
