/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [CountryDb]
GO
/****** Object:  Table [dbo].[COUNTRY]    Script Date: 2.10.2017 23:32:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[FULLNAME] [nvarchar](100) NOT NULL,
	[CODE] [nvarchar](10) NOT NULL,
	[CURRENCY] [nvarchar](50) NOT NULL,
	[FLAG] [nvarchar](50) NOT NULL,
	[LANGUAGE] [nvarchar](50) NOT NULL,
	[CAPITALCITY] [nvarchar](50) NOT NULL,
	[POPULATION] [bigint] NOT NULL,
	[REGIONID] [int] NOT NULL,
 CONSTRAINT [PK_COUNTRY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REGION]    Script Date: 2.10.2017 23:32:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_REGION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[COUNTRY] ON 

INSERT [dbo].[COUNTRY] ([ID], [NAME], [FULLNAME], [CODE], [CURRENCY], [FLAG], [LANGUAGE], [CAPITALCITY], [POPULATION], [REGIONID]) VALUES (1, N'Afghanistan', N'Islamic Republic of Afghanistan', N'AFG', N'-', N'AF-{0}.png', N'-', N'-', 0, 3)
INSERT [dbo].[COUNTRY] ([ID], [NAME], [FULLNAME], [CODE], [CURRENCY], [FLAG], [LANGUAGE], [CAPITALCITY], [POPULATION], [REGIONID]) VALUES (2, N'Albania', N'Republic of Albania', N'ALB', N'L', N'AL-{0}.png', N'Albanian', N'Tirana', 2886026, 4)
INSERT [dbo].[COUNTRY] ([ID], [NAME], [FULLNAME], [CODE], [CURRENCY], [FLAG], [LANGUAGE], [CAPITALCITY], [POPULATION], [REGIONID]) VALUES (3, N'Algeria', N'People’s Democratic Republic of Algeria', N'DZA', N'Algerian dinar', N'DZ-{0}.png', N'Arabic', N'Algiers', 40400000, 1)
GO
SET IDENTITY_INSERT [dbo].[COUNTRY] OFF
SET IDENTITY_INSERT [dbo].[REGION] ON 

INSERT [dbo].[REGION] ([ID], [NAME]) VALUES (1, N'Africa')
INSERT [dbo].[REGION] ([ID], [NAME]) VALUES (2, N'Americas')
INSERT [dbo].[REGION] ([ID], [NAME]) VALUES (3, N'Asia')
SET IDENTITY_INSERT [dbo].[REGION] OFF
ALTER TABLE [dbo].[COUNTRY]  WITH CHECK ADD  CONSTRAINT [FK_COUNTRY_REGION] FOREIGN KEY([REGIONID])
REFERENCES [dbo].[REGION] ([ID])
GO
ALTER TABLE [dbo].[COUNTRY] CHECK CONSTRAINT [FK_COUNTRY_REGION]
GO
