@{
    ViewBag.Title = "Home Page";
}

<table id="tblCountries" class="table">
    <thead>
        <tr>
            <th>Ülke Adı</th>
            <th>Ülke Tam Adı</th>
            <th>Ülke Kodu</th>
            <th>Para Birimi</th>
            <th>Bayrak</th>
        </tr>
    </thead>
</table>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

    $(function () {
        var oTable = $('#tblCountries').dataTable({
            "sAjaxSource": '@Url.Action("GetCountries")',
            "aoColumns": [
              { "mData": "Name"     , "Title": "Ülke Adı" },
              { "mData": "FullName" , "Title": "Ülke Tam Adı" },
              { "mData": "Code"     , "Title": "Ülke Kodu" },
              { "mData": "Currency" , "Title": "Para Birimi" },
              { "mData": "Flag"     , "Title": "Bayrak" }
            ]
        });
    });

</script>